/* $Id: pagelayout.css,v 1.8 2005/08/24 11:46:45 stuart Exp $ */

body {
  background: #fafafa url("/bumblebee/theme/images/background.png");
  background-repeat: repeat;
/*   background-repeat: repeat-y; */
/*   background-position: right; */
}

#header {
  position: relative;
  border-bottom: 3px solid #0000cc;
  margin-bottom: 1em;
  background: white;
}

#headerLeft {
  height: 75px; 
  width: 90px;
}

#headerRight {
  margin-left: 1em;
  position: absolute;
  left: 100px;
  top: 0px;
}

#headerRight h1 {
  /*border-top:    1px solid #7c7c7c;*/
  display: block;
  width: 100%;
}

#bumblebeefooter {
  padding-top: 5em;
  margin-top: 1em;
  border-top: 3px solid #0000cc;
  clear: both;
}

#fmenu {
  float: left;
  width: 12em;
  font-size: 80%;
  padding: 1em 1em 1em 1em;
  margin: 0;
}

#fmenu h3 {
  margin: 0;
  padding: 0;
}

#bumblebeecontent {
  margin-left: 12em;
}
